<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="tabelaMargem">
  	<table>
  		<tr>
  			<td><%= f.label "Nome: " %></td>
    		<td><%= f.text_field :nome%></td>
  		</tr>
  		<tr>
  			<td><%= f.label "Identificação: " %></td>
 			<td><%= f.text_field :identificacao %></td>
  		</tr>
  		<tr>
  			<td><%= f.label "Raça: " %></td>
    		<td><%= f.select :raca_id, Raca.find(:all).collect {|item| [item.raca, item.id]} %></td>
  		</tr>
  		<tr>
  			<td><%= f.label :propriedade_id %></td>
  			<td><%= f.text_field :propriedade_id %></td>			
    	</tr>
    	<tr>
    		<td><%= f.label "Classificação: " %></td>
  			<td><%= f.select :classificacao_id, Classificacao.find(:all).collect {|item| [item.classificacao, item.id]} %></td>
		</tr>
  		<tr>
  			<td colspan="2"><%= f.submit "Cadastrar"%></td>
    	</tr>	
    </table>	
  </div>  	 
  	  	    	  	
<% end %>
