<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 	<div class="field">		 
  		<%= f.label "Nome: " %></br>
    	<%= f.text_field :nome %>
  	</div>
  	<div class="field">
  		<%= f.label "Identificação: " %></br>
 		<%= f.text_field :identificacao %>
  	</div>
    <div class="field">
    	<%= f.label "Classificação: " %></br>
  		<%= f.collection_select :classificacao_id, Classificacao.all, :id, :classificacao %>
  		<%= link_to "...", new_classificacao_path %>
	</div>
	<div class="field">
  		<%= f.label "Raça: " %></br>
    	<%= f.collection_select :raca_id, Raca.all, :id, :raca%>
    	<%= link_to "...", new_raca_path %></td>
  	</div>
	<div class="field">
  		<%= f.label :propriedade_id %></br>
  		<%= f.text_field :propriedade_id %>			
  	</div>
  	<div class="actions">
  		<%= f.submit "Cadastrar" %>
   	</div>
    	 	  	  	    	  	
<% end %>
