<h1>Lista de animais</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Identificacao</th>
      <th>Raca</th>
      <th>Propriedade</th>
      <th>Classificacao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @animais.each do |animal| %>
      <tr>
        <td><%= animal.nome %></td>
        <td><%= animal.identificacao %></td>
        <td><%= animal.raca.raca %></td>
        <td><%= animal.propriedade.nome %></td>
        <td><%= animal.classificacao.classificao %></td>
        <td><%= link_to 'Abrir', animal %></td>
        <td><%= link_to 'Editar', edit_animal_path(animal) %></td>
        <td><%= link_to 'Excluir', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Novo animal', new_animal_path %>
