<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @animal.nome %>
</p>

<p>
  <strong>Identificacao:</strong>
  <%= @animal.identificacao %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @animal.raca.raca %>
</p>

<p>
  <strong>Classificacao:</strong>
  <%= @animal.classificacao.classificao %>
</p>

<p>
  <strong>Propriedade:</strong>
  <%= @animal.propriedade.nome %>
</p>
<p>
   <strong>Ultima pesagem: </strong>
   <%= Pesagem.find(:last, :conditions => ['animal_id = ?', @animal.id]).peso %>
   <%= link_to "Pesagens", '/pesagens/pesagem_animal/' + @animal.id.to_s %>
</p>

<%= link_to 'Editar', edit_animal_path(@animal) %> |
<%= link_to 'Lista de animais', animais_path %>
