<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @animal.nome %>
</p>

<p>
  <strong>Identificacao:</strong>
  <%= @animal.identificacao %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @animal.raca.raca %>
</p>

<p>
  <strong>Classificacao:</strong>
  <%= @animal.classificacao.classificacao %>
</p>

<p>
  <strong>Propriedade:</strong>
  <%= @animal.propriedade.nome %>
</p>
<p>
   <strong>Ultima pesagem: </strong>
   <% if pesagem = Pesagem.por_animal(@animal.id) %>
   	  <span> Kg <%= pesagem.peso %></span>
   	  <strong>Data: </strong>
   	  <%= pesagem.data%>
   	  <%= link_to "Pesagens", '/pesagens/pesagem_animal/' + @animal.id.to_s %>
   <% else %>	
   	  <%= link_to "Adicionar pesagem", new_pesagem_path(@animal.id) %>
   <% end %>	  
</p>
<p>
	<% if !vacinas = Vacina.where('animal_id = ?', @animal.id).empty? %>
		a vacinas</br>
	<% end %>
		<%= link_to 'Agendar vacina', new_vacina_path(@animal.id) %> |
		<%= link_to 'Historio de vacinas', '/vacinas/historico_vacinas/'+@animal.id.to_s %>		
</p>
<p>
	<% if !exames = Exame.where('animal_id = ?', @animal.id).empty? %>
		
	<% end %>		
	<%= link_to 'Agendar exame', new_exame_path(@animal.id) %>	
</p>


<%= link_to 'Editar', edit_animal_path(@animal) %> |
<%= link_to 'Lista de animais', animais_path %>
