<h1>Listing tipo_medicamentos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo medicamento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_medicamentos.each do |tipo_medicamento| %>
      <tr>
        <td><%= tipo_medicamento.tipo_medicamento %></td>
        <td><%= link_to 'Show', tipo_medicamento %></td>
        <td><%= link_to 'Edit', edit_tipo_medicamento_path(tipo_medicamento) %></td>
        <td><%= link_to 'Destroy', tipo_medicamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo medicamento', new_tipo_medicamento_path %>
