<h1>Listing propriedades</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @propriedades.each do |propriedade| %>
      <tr>
        <td><%= propriedade.nome %></td>
        <td><%= link_to 'Show', propriedade %></td>
        <td><%= link_to 'Edit', edit_propriedade_path(propriedade) %></td>
        <td><%= link_to 'Destroy', propriedade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propriedade', new_propriedade_path %>
