<%= form_for(@pesagem) do |f| %>
  <% if @pesagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pesagem.errors.count, "error") %> prohibited this pesagem from being saved:</h2>

      <ul>
      <% @pesagem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :peso %><br>
    <%= f.text_field :peso %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :animal_id %><br>
    <%= f.text_field :animal_id, :value => params[:format], :disabled => 'true'%>
  </div>
  <div class="actions">
    <%= f.submit "Adicionar" %>
  </div>
<% end %>
