<div class="panel panel-default">

<div class="panel-heading"><h2>Lista de  Pesagens</h2></div>

<% @id %>
<table class="table"> 
  <thead>
    <tr>
      <th>Animal</th>
      <th>Peso</th>
      <th>Data</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pesagens.each do |pesagem| %>
      <tr>
      	<td><%= pesagem.animal.nome %></td>
        <td><%= pesagem.peso %></td>
        <td><%= pesagem.data %></td>
        <td><%= link_to 'Excluir', pesagem, method: :delete, data: { confirm: 'Excluir '+pesagem.data.to_s+'?' } %></td>
      </tr>
      <% @id = pesagem.animal.id %>
    <% end %>  
  </tbody>
</table>

</div>

</div>

<%= link_to 'Adicionar nova pesagem', new_pesagem_path(@id) %>
<%= link_to 'Voltar', '/animais/'+@id.to_s %>
