<p id="notice"><%= notice %></p>

<p>
  <strong>Identificação animal:</strong>
  <%= @pesagem.animal.identificacao %>
</p>
<p>
  <strong>Nome:</strong>
  <%= @pesagem.animal.nome %>
</p>
<p>
  <strong>Peso:</strong>
  <%= @pesagem.peso %>
</p>

<p>
  <strong>Data:</strong>
  <%= @pesagem.data %>
</p>

<%= link_to 'Voltar', '/pesagens/pesagem_animal/'+@pesagem.animal.id.to_s %>
