<p id="notice"><%= notice %></p>

<p>
  <strong>Peso:</strong>
  <%= @pesagem.peso %>
</p>

<p>
  <strong>Data:</strong>
  <%= @pesagem.data %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @pesagem.animal %>
</p>

<%= link_to 'Edit', edit_pesagem_path(@pesagem) %> |
<%= link_to 'Back', pesagens_path %>
