<%= form_for(@raca) do |f| %>
  <% if @raca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raca.errors.count, "error") %> prohibited this raca from being saved:</h2>

      <ul>
      <% @raca.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :raca %><br>
    <%= f.text_field :raca %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
