<h1>Listing racas</h1>

<table>
  <thead>
    <tr>
      <th>Raca</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @racas.each do |raca| %>
      <tr>
        <td><%= raca.raca %></td>
        <td><%= link_to 'Show', raca %></td>
        <td><%= link_to 'Edit', edit_raca_path(raca) %></td>
        <td><%= link_to 'Destroy', raca, method: :delete, data: { confirm: 'Deseja deletar a raça '+raca.raca } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raca', new_raca_path %>
