<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo vacina:</strong>
  <%= @vacina.tipo_vacina %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @vacina.medicamento %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @vacina.animal %>
</p>

<p>
  <strong>Data:</strong>
  <%= @vacina.data %>
</p>

<%= link_to 'Edit', edit_vacina_path(@vacina) %> |
<%= link_to 'Back', vacinas_path %>
