<h1>Listing imagens</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Animal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @imagens.each do |imagem| %>
      <tr>
        <td><%= imagem.url %></td>
        <td><%= imagem.animal %></td>
        <td><%= link_to 'Show', imagem %></td>
        <td><%= link_to 'Edit', edit_imagem_path(imagem) %></td>
        <td><%= link_to 'Destroy', imagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imagem', new_imagem_path %>
