<%= form_for(@cobertura) do |f| %>
  <% if @cobertura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cobertura.errors.count, "error") %> prohibited this cobertura from being saved:</h2>

      <ul>
      <% @cobertura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :animal_id %><br>
    <%= f.text_field :animal_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
