<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @cobertura.data %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @cobertura.animal %>
</p>

<%= link_to 'Edit', edit_cobertura_path(@cobertura) %> |
<%= link_to 'Back', coberturas_path %>
