<h1>Listing tipo_exames</h1>

<table>
  <thead>
    <tr>
      <th>Tipo exame</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_exames.each do |tipo_exame| %>
      <tr>
        <td><%= tipo_exame.tipo_exame %></td>
        <td><%= link_to 'Show', tipo_exame %></td>
        <td><%= link_to 'Edit', edit_tipo_exame_path(tipo_exame) %></td>
        <td><%= link_to 'Destroy', tipo_exame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo exame', new_tipo_exame_path %>
