<%= form_for(@exame) do |f| %>
  <% if @exame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exame.errors.count, "error") %> prohibited this exame from being saved:</h2>

      <ul>
      <% @exame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	 <div class="field">
    <%= f.label :animal_id %><br>
    <%= f.text_field :animal_id, :value => params[:format], :readonly=>true %>
  </div>
  <div class="field">
    <%= f.label :tipo_exame_id %><br>
    <%= f.collection_select :tipo_exame_id, TipoExame.all, :id, :tipo_exame %>
    <%= link_to 'Novo tipo exame', new_tipo_exame_path %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
