<!DOCTYPE html>
<html>
<head>
  <title>Polaris</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="fundoTela">
	<header id='cssmenu'>
		<% if user_signed_in? %>
			<ul>
   				<%= content_tag(:li, link_to("Principal", root_path)) %>
   				<li class='has-sub'><a href='#'><span>Cadastros</span></a>
      				<ul>
         				<%= content_tag(:li, link_to("Animais", new_animal_path)) %>
         				<%= content_tag(:li, link_to("Exames", new_exame_path)) %>
         				<%= content_tag(:li, link_to("Medicamntos", new_medicamento_path)) %>
      				</ul>
   				</li>
   				<li class='has-sub'><a href='#'><span>Relatorios</span></a>
      				<ul>
         				<%= content_tag(:li, link_to("Animais", animais_path)) %>
         				<%= content_tag(:li, link_to("Exames", exames_path)) %>
         				<%= content_tag(:li, link_to("Medicamntos", medicamentos_path)) %>
      				</ul>
   				</li>
   				<%= content_tag(:li, link_to("Opções", edit_user_registration_path), class: 'last')%>
   				<%= content_tag(:li, link_to("Logout", destroy_user_session_path, method: 'delete'), class: 'last')%>
			</ul>
		<% else %>
			<ul>
				<%= link_to "Login", new_user_session_path, class: 'active'%>
				<%= link_to "Cadastre-se", new_user_registration_path, class: 'active'%>
				<%= link_to "Sobre", "about", class: 'active'%>
				<%= link_to "Contato", "contact", class: 'last'%>
			</ul>
		<% end %>
	</header>
	<div id="content">
		<%= yield %>
	</div>
	<footer>
		<span>Developed by <%= link_to "Jose Luiz Tafarel", 'http://github.com/jltafarel'%> e <%= link_to "Anderson Vasconcelos", 'http://github.com/and3rs0n'%></span>
	</footer>
</body>
</html>
