<!DOCTYPE html>
<html>
<head>
  <title>Polaris</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="fundoTela">
	<div id='cssmenu'>
	<%= link_to (image_tag 'logo.png'), root_path, class: 'logo' %>
	<% if user_signed_in? %>
	<ul>
   		<li><a href='/'><span>Principal</span></a></li>
   		<li class='has-sub'><a href='#'><span>Cadastros</span></a>
      		<ul>
         		<li><a href='/animais/new'><span>Animais</span></a></li>
         		<li><a href='/exames/new'><span>Exames</span></a></li>
         		<li><a href='/medicamentos/new'><span>Medicamentos</span></a></li>
      		</ul>
   		</li>
   		<li class='has-sub'><a href='#'><span>Relatorios</span></a>
      		<ul>
         		<li><a href='/animais/'><span>Animais</span></a></li>
         		<li><a href='/exames/'><span>Exames</span></a></li>
         		<li><a href='#'><span>Medicamentos</span></a></li>
      		</ul>
   		</li>
   		<%= content_tag(:li, link_to("Opções", edit_user_registration_path), class: 'last')%>
   		<%= content_tag(:li, link_to("Logout", destroy_user_session_path, method: 'delete'), class: 'last')%>
   		<span><%= current_user.email%></span>
	</ul>
	<% else %>
	<ul>
		<%= link_to "Login", new_user_session_path, class: 'active'%>
		<%= link_to "Cadastre-se", new_user_registration_path, class: 'active'%>
		<%= link_to "Sobre", "pages/about", class: 'active'%>
		<%= link_to "Contato", "pages/contact", class: 'last'%>
	</ul>
	<% end %>
</div>

<%= yield %>

</body>
</html>
